<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>429553766653-h4fl8s79nse7tbhej7r73ide23qs0tbd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429553766653-h4fl8s79nse7tbhej7r73ide23qs0tbd</string>
	<key>API_KEY</key>
	<string>AIzaSyAy6xhOgJLG6IPdUHHrZxtGo0NkmzLACII</string>
	<key>GCM_SENDER_ID</key>
	<string>429553766653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.calendario</string>
	<key>PROJECT_ID</key>
	<string>calendario-hemofilico</string>
	<key>STORAGE_BUCKET</key>
	<string>calendario-hemofilico.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429553766653:ios:6944ce3aa9d8214b2eee94</string>
</dict>
</plist>